<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
    <add key="ConnectionString" value="Data Source=192.168.0.8;Initial Catalog=UMS;Persist Security Info=True;User ID=sa;Password=gdgx96000!@#"/>
    <add key="AdminDebugMode" value="1"/>
  </appSettings> 
  
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/UMS.csdl|res://*/UMS.ssdl|res://*/UMS.msl;
         provider=System.Data.SqlClient;provider connection string=&quot;
         data source=192.168.0.8;initial catalog=UMS;user id=sa;password=gdgx96000!@#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>

</configuration>