<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    
    <!--<add key="ConnectionString" value="Data Source=192.168.0.193;Initial Catalog=UMS;Persist Security Info=True;User ID=sa;Password=ztf96000" />
    <add key="AdminDebugMode" value="1" />
  </appSettings>
  <connectionStrings>
    <add name="UMSContext" connectionString="Data Source=192.168.0.193;Initial Catalog=UMS;Persist Security Info=True;User ID=sa;Password=ztf96000" providerName="System.Data.SqlClient" />
    <add name="Entities" connectionString="metadata=res://*/UMS.csdl|res://*/UMS.ssdl|res://*/UMS.msl;
         provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.193;
         initial catalog=UMS;user id=sa;password=ztf96000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
    <add key="ConnectionString" value="Data Source=192.168.0.8;Initial Catalog=UMS_lxq2;Persist Security Info=True;User ID=sa;Password=gdgx96000!@#" />
    <add key="AdminDebugMode" value="1" />
  </appSettings>
  <connectionStrings>
    <add name="UMSContext" connectionString="Data Source=192.168.0.8;Initial Catalog=UMS_lxq2;Persist Security Info=True;User ID=sa;Password=gdgx96000!@#" providerName="System.Data.SqlClient" />
    <add name="Entities" connectionString="metadata=res://*/UMS.csdl|res://*/UMS.ssdl|res://*/UMS.msl;
         provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.8;
         initial catalog=UMS_lxq2;user id=sa;password=gdgx96000!@#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>