<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <pages enableSessionState="true"></pages>
    </system.web>
  <appSettings>
    <add key="ConnectionString" value="Data Source=192.168.0.193;Initial Catalog=UMS;Persist Security Info=True;User ID=sa;Password=ztf96000"/>
    <add key="AdminDebugMode" value="1"/>
  </appSettings>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/UMS.csdl|res://*/UMS.ssdl|res://*/UMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.193;initial catalog=UMS;user id=sa;password=ztf96000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  
</configuration>
